 
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Montserrat & display = swap');

/* font-family: 'Alice', sans-serif;
font-family: "Montserrat", sans-serif; */

/* --------------------- ALL ------------------ */

body {
    background-color: black;
}

/* --------------------- FIN ALL ------------------ */

/* --------------------- NAVBAR ------------------ */

.fontnav {
    font-family: "Montserrat", sans-serif;
}

.navbar-light .navbar-toggler {
    background-color: white;
}



.navbar {
    font-size: 1.5em;
    z-index: 50;
}

#navbar1 {
    font-size: 1.5em;
    position: absolute;
    z-index: 50;
}


.nav-item:hover {
    color: #4cc9f0;
}

/* --------------------- FIN NAVBAR ------------------ */


/* --------------------- ACCUEIL ------------------ */

 

#tailletxt {
    font-size: 3em;
    color: white;
}

/* --------------------- FIN ACCUEIL ------------------ */

/* --------------------- Réseaux Sociaux ------------------ */

.social_menu {
	width: 100%;
	background-color: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
}

.social_menu ul {
    display: flex;
    align-self: center;
}

.social_menu ul li {
    list-style: none;     /*enlève les puces*/
    margin: 0 10px;     /*séparation horizontale entre les boutons*/
}

.social_menu ul li .fa {
    color: #000000;    /*couleur des icônes*/
    font-size: 25px;     /*taille des icônes*/
    line-height: 50px;
    transition: .5s;
}

.social_menu ul li .fa:hover {
    color: none;      /*couleur des icônes lorsqu'elles sont survolées*/
}

.social_menu ul li a {
    position: relative;
    display: block;
    width: 50px;      /*largeur des rectangles*/
    height: 50px;     /*hauteur des rectangles*/
    border-radius: 50% ;     /*rondeur des angles*/
    background-color: #f4f9f9;     /*couleur des rectangles*/
    text-align: center;
    transition: 0.5s;      /*temps de la transition/animation*/
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);      /*ombre des cercles*/
}

.social_menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);      /*animation quand les rectangles sont survolés*/
}

.social_menu ul li:nth-child(1) a:hover {      /*couleur transition facebook*/
    background-color: #f4f9f9;
}

.social_menu ul li:nth-child(3) a:hover {      /*couleur transition youtube*/
    background-color: #f4f9f9;
}

.social_menu ul li:nth-child(2) a:hover {      /*couleur transition linkedin*/
    background-color: #f4f9f9;
}

/* --------------------- Fin Réseaux Sociaux ------------------ */

/* --------------------- Réalisations ------------------ */

#rea {
width:100%;
justify-content: space-around;
}

#container_r {
    box-sizing: border-box;
}

.card {
    background-color: none!important;
}

.card-columns {
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
    box-sizing: border-box;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-img, .card-img-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.card-img, .card-img-top, .card-img-bottom {
    flex-shrink: 0;
    width: 100%;
}

.img_r {
    max-width: 50%;
}

.card-projet {
    opacity: 0.8;
}

.card-projet:hover {
    opacity: 0.7;
}


.colori {
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
}

.colori1 {
    font-family: "Montserrat", sans-serif;
}

.corpi {
    background-color: black;
}

.txt_r {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.txt_r1 {
    color: white;
    font-family: "Montserrat", sans-serif;
}


/* Zone btn r_multimedia */

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    padding: 0.625em 1.875em;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.btn-primary:hover {
    background-color: white;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

/* --------------------- R_JeuxVidéos ------------------ */

.imagecontainer {
    width: 100%;
    height: fit-content;
}

.imagecontainer img {
    object-fit: cover;
    width: 100%;
}


/* --------------------- R_Sites ------------------ */

.card-projet1{
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    color: #fff;
    opacity: 0;
    cursor: pointer;
}

.card-projet1:hover .overlay {
    opacity: 1;
}


/* --------------------- FIN Réalisations ------------------ */


/* --------------------- CAROUSEL ------------------ */

.carouselExampleCaptions {
    margin: 0 auto;
    width: 30%;
}


.carousel-item {
    height: 45em;
    min-height: 18.75em;
    background: no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;

}

.carousel-inner::before {
    content:"";
    display: block;
}


/* --------------------- FIN CAROUSEL ------------------ */

/* --------------------- ANIMATION ------------------ */



.btn_r {
    color: white;
    background-color: none;
    text-align: center;
    border-radius: 10px;
    border:2px solid white;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.5);
    transition: background-color 0.7s ease;
}

.btn_r:hover {
    color: black;
    background-color: white;
    transition: background-color 0.7s ease;
}



/* --------------------- FIN ANIMATION ------------------ */

/* --------------------- A PROPOS ------------------ */


.titre1 {
    color: white;
    font-family: 'Alice', sans-serif;
}
 
.texte1 {
    color: white; 
    font-family: "Montserrat", sans-serif;
}

.apropos {
    background-color: white;
}


.para_contact {
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.CV {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.imgmoi img {
    width: 100%;
    height: auto;

}

.imgmoi {
    width: 25%;
    margin: auto;
}

.txt_a_propos {
    display: flex;
    margin: 1em;
    align-items: center;
    flex-direction: column;
}


/* --------------------- FIN A PROPOS ------------------ */


@media screen and (max-width: 767px) {
    .imgmoi {
        width: 90%;
        margin: auto;

    }
}
